* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* HEADER */

.cabecalho {
    background-image: url(imagens/empresa-de-pequeno-porte-1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho-secao1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 0 100px 0;
}

.font-titulo{
    font-family: 'Bebas Neue', cursive;
    font-size: 31px;
    color: white;
}

.font-titulo-child{
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
}

.cabecalho-secao2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.font-titulo2 {
    font-family: 'Signika Negative', sans-serif;
    font-size: 70px;
    color: white;
    padding-bottom: 30px;
}

.font-titulo2-child {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: white;
}

.cabecalho-redes-sociais{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    color: white;
}

.redes-sociais-header {
    margin: 0 5px;
}

/* MAIN 1*/

.page-main {
    background-color: rgb(243, 226, 208);
    padding: 60px;
}

.sep-main {
    display: flex;
}

.titulo-main {
    width: 50%;
    padding: 0 50px;
}

.titulo-main2 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(245, 185, 117);
    font-size: 50px;
}

.paragrafos {
    width: 50%;
}

.descricao {
    font-family: 'Signika Negative', sans-serif;
    padding-bottom: 50px;
}

.descricao h2 {
    padding-bottom: 10px;
}

.descricao h3 {
    font-weight: 400;
}

/* MAIN 2 */

.sep-main2 {
    display: flex;
}

.main2 {
    background-image: url(imagens/haha.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 460px;
}

.main2 h1 {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    padding-top: 220px;
}

.secao-main-2{
    background-color: rgb(245, 185, 117);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.secao-main-2 p {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

/* FOOTER */

.fale {
    display: flex;
}

.sep-fale {
    width: 50%;
}

.imagem {
    background-image: url(imagens/faleconosco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 460px;
}

.fale-conosco {
    font-family: 'Signika Negative', sans-serif;
    width: 50%;
    background-color:rgb(243, 226, 208);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fale-conosco h1 {
    font-size: 50px;
    color: rgb(245, 185, 117);
}

.fale-conosco h2 {
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
}

.footer-redes-sociais {
    padding-top: 80px;
}

.redes-sociais-footer {
    margin: 0 5px;
}

/* MODELOS DE LANDING */

.landing {
    font-family: 'Signika Negative', sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
}

.modelo2 {
    border: 2px solid rgb(245, 185, 117);
    background-color: rgb(243, 226, 208);
    color: rgb(250, 159, 54);
    font-size: 22px;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelo2:hover {
    border: 2px solid white;
    background-color: rgb(245, 185, 117);
    color: white;
}

.modelo3 {
    border: 2px solid rgb(245, 185, 117);
    background-color: rgb(243, 226, 208);
    color: rgb(250, 159, 54);
    font-size: 22px;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelo3:hover {
    border: 2px solid white;
    background-color: rgb(245, 185, 117);
    color: white;
}

.modelo4 {
    border: 2px solid rgb(245, 185, 117);
    background-color: rgb(243, 226, 208);
    color: rgb(250, 159, 54);
    font-size: 22px;
    border-radius: 10px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modelo4:hover {
    border: 2px solid white;
    background-color: rgb(245, 185, 117);
    color: white;
}